@import "../scss/variables";

.fullscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: $light-grey, $alpha: 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    @include standard-transition(opacity, 0.25s, 0s);

    &.visible {
        opacity: 1;
    }

    h2 {
        text-align: center;
    }

    .seperator {
        margin: 0 auto;
    }

    .close-btn {
        position: absolute;
        display: inline-block;
        bottom: -100px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        border: 1px solid $medium-grey;
        border-radius: 100%;
        @include standard-transition(all, 0.1s, 0s);
        cursor: pointer;

        span {
            display: inline-block;
            width: 24px;
            height: 1px;
            background: $dark-grey;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            @include standard-transition(transform, 0.1s, 0s);

        }

        span:first-child {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover span {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover span:first-child {
            transform: translate(-50%, -50%) rotate(-135deg);
        }

        &:hover {
            bottom: -105px;
            right: 50%;
            width: 50px;
            height: 50px;
            padding: 15px;
        }
    }

    .overlay_wrapper {
        position: relative;
        width: 100%;
        max-width: 1000px;
    }

    .overlay_content {
        display: grid;
        grid-template-columns: 1fr;
        padding: 80px 40px;
        border: 1px solid $medium-grey;
        gap: 40px;

        >div {
            display: grid;
            grid-template-columns: auto auto;
            gap: 40px;

            >div {
                text-align: right;
            }

        }
    }

    ul {
        display: inline-block;
    }

    li {
        @include simple_text($dark-grey);
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto 1fr;

        span {
            display: inline-block;
            font-weight: 600;
            text-align: left;
        }
    }

    p {
        max-width: 300px;
        @include simple_text($dark-grey);

        span {
            font-weight: 600;
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: -1;
    }
}

@media screen and (max-width:500px) {
    .fullscreen_overlay {
        .overlay_content {
            padding: 60px 40px;
            div {
                gap: 25px;
            }
        }

        h2 {
            font-size: 50px;
            line-height: 60px;
        }

        li,
        p {
            font-size: 14px;
            line-height: 22px;
        }
    }

}