@import "../scss/globals";
@import "../scss/fonts_colors";

.ginOverviewTile {    
    width: auto;
    position: relative;
    overflow: hidden;

    &>a {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;

        &:hover {

            img {
                transform: scale(1.05);
            }

            h2 {
                
            }

            .viewMore {
                height: 40px;
                color: $dark-grey;
                padding-top: 12px;
                opacity: 0.85;
            }

            .moodPicBg {
                transform: scale(1.05);
            }
            
            .moodPicBg:before {
                background: rgba($color: #000, $alpha: .6);
            }

            .tagsList {
                opacity: 0;
                transform: translateY(-5px);
            }
        }
    }
}

.tileContent {
    position: relative;
    z-index: 200;
    padding: 40px;
    width: 100%;
    
    img {
        display: block;
        width: auto;
        height: 200px;
        margin: 0px auto 30px;
        transform: scale(1);
        @include drop-shadow-dark;
        @include standard-transition(transform, 0.5s, 0s);
    }
    
    h2 {
        @include tile_headline;
        margin-bottom: 20px;
    }
}

.moodPicBg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.01);
    @include standard-transition(transform, 0.5s, 0s);

    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include standard-transition(background, 0.5s, 0s);
        background: rgba($color: #000, $alpha: .8);
    }
}

.tagsViewMoreWrapper {
    position: relative;

    hr {
        opacity: 0.75;
    }

    .viewMore {
        @extend .button;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        padding-top: 0px;
        height: 0px;
        color: $light-grey;
        transition: padding .25s, 
                    opacity .25s,
                    opacity .25s,
                    height .25s, 
                    color .25s 0.25s;
    }

    .tagsList {
        position: relative;
        opacity: 0.85;
        margin-top: 10px;
        transform: none;
        @include standard-transition(all, 0.25s, 0s);
    }
}

@media screen and (max-width:680px) {
    .tileContent {
        padding: 20px;

         h2 {
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 10px;
        }
        
        img {
            height: auto;
            max-height: 200px;
            width: auto;
            max-width: 35%;
            margin: 0px auto 10px;
        }

        .tagsList, .tags_list {
            margin-top: 10px !important;
        }
    }
}