@import "../scss/variables";

.banner_section {
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;

    .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        animation-duration: 70s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-name: bg_movement;
    }
    
    .bg-img:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  rgba(0,0,0,0.6);
    }

    .banner-text-wrapper {
        width: 100%;
        max-width: 580px;
        padding: 0 40px;
    }
    
    .banner-text {
        @include emphasized_text;
    }
}

@keyframes bg_movement {
    from {
        transform: scale(1.01);
    }

    to {
        transform: scale(1.5);
    }
}

@media screen and (max-width:720px) {
    .banner_section {
        padding-top: 60px;
        padding-bottom: 60px;

        .banner-text {
            @include emphasized_text;
            font-size: 16px;
            line-height: 32px;
        }
    }
}

@media screen and (max-width:500px) {
    .banner_section {
        min-height: initial;
    }

    .banner-text {
        @include emphasized_text;
        font-size: 12px;
        line-height: 24px;
    }
}