@import "../scss/fonts_colors";

.tags_list {
	display: flex;
	row-gap: 10px;
	flex-wrap:wrap;
	padding: 0 6px;
	margin: 0 -12px;

	span {
		display: inline-block;
		width: auto;
		height: 22px;
		background: #000;
		opacity: 0.95;
		@include tag_text(#dbdbdb);
		line-height: 20px;
		border-radius: calc(22px / 2);
		padding: 2px 15px 0px;
		text-align: center;
		margin: 0 6px;
		text-transform: capitalize;
	}
}