@import "../scss/fonts_colors";

.tags_list {
	display: flex;
	row-gap: 10px;
	flex-wrap:wrap;
	padding: 0 6px;
	margin: 0 -12px;

	span {
		$tags-size: 22px;
		display: inline-block;
		width: auto;
		height: $tags-size;
		background: #000;
		opacity: 0.95;
		@include tag_text($light-grey);
		border-radius: calc($tags-size / 2);
		padding: calc(($tags-size - 12px) / 2) 15px 0px;
		text-align: center;
		margin: 0 6px;
	}

	&.inverted span {
		color: $dark-grey;
		background: $light-grey;
	}
}