@import "../scss/fonts";
@import "../scss/variables";

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	position: relative;
	text-align: left;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #fff;
	color: #000;
	font-display: swap;
}
	
body {
	text-rendering: optimizeLegibility;
}
	
body, ul, ol, dl, p, h1, h2, h3, h4, h5, dl, dt, dd {
	margin: 0;
}

img {
	display: inline-block;
}

h1, h2 {
	@include primary_headline;
	font-weight: 300;
}

h3 {
	@include secondary_headline;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	@include standard-transition(color, 0.25s, 0s);

	&:hover {
		color: $medium-grey;
	}
}

ul {
	padding: 0;
	list-style-type: none  !important;
	list-style: inside;
}

.hidden {
	display: none;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}

.no_margin_top {
	margin-top: 0 !important;
}

.pageWrapper {
	padding-top: 60px;
}

.fixed_width {
	position: relative;
	width: 100%;
	max-width: 1480px;
	padding-left: 40px;
	padding-right: 40px;
	margin: $section_spacer auto;
}

.full_width {
	width: 100%;
	margin: 0 auto;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	background: $light-grey;
	border: none;
	margin: 0;
}

@media screen and (max-width:680px) {
	.fixed_width {
		padding: 0 20px;
		margin: 20px 0;
	}
}

.no-scroll {
    overflow: hidden !important;
    height: 100vh !important;
}

.fullscreen_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba($color: $light-grey, $alpha: 1);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	opacity: 0;
	@include standard-transition(opacity, 0.25s, 0s);

	&.visible {
        opacity: 1;
    }

	.close-btn {
		position: absolute;
		display: inline-block;
		bottom: -100px;
		right: 0;
		left: 50%;
        transform: translateX(-50%);
		width: 40px;
		height: 40px;
		border: 1px solid $medium-grey;
		border-radius: 100%;
		@include standard-transition(all, 0.1s, 0s);
		cursor: pointer;

		span {
			display: inline-block;
			width: 24px;
			height: 1px;
			background: $dark-grey;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			@include standard-transition(transform, 0.1s, 0s);
			
		}

		span:first-child {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover span {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover span:first-child {
			transform: translate(-50%, -50%) rotate(-135deg);
		}

		&:hover {
			bottom: -105px;
			right: 50%;
			width: 50px;
			height: 50px;
			padding: 15px;
		}
	}

	.overlay_wrapper {
		position: relative;
		width: 100%;
		max-width: 1000px;
	}

	.overlay_content {
		display: grid;
		grid-template-columns: 1fr;
		padding: 80px 40px;
		border: 1px solid $medium-grey;

		h2{
			text-align: center;
			margin-bottom: 20px;
		}

		> div {
			display:  grid;
			grid-template-columns: auto auto;
			gap: 40px;

			> div {
				text-align: right;
			}
			ul {
				display: inline-block;

				li {
					@include simple_text($dark-grey);
					display: grid;
					gap: 10px;
					grid-template-columns: auto auto 1fr;

					span {
						display: inline-block;
						font-weight: 600;
						text-align: left;
					}

					span:first-child {
						// text-align: right;
					}
				}
			}

			> p {
				max-width: 300px;
				@include simple_text($dark-grey);
				span {
					font-weight: 600;
				}
			}
		}
	}

	.bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: transparent;
		z-index: -1;
	}
}