@import "../../scss/fonts_colors";

.impressum {
    h2 {
        @include secondary_headline;
        font-family: 'AdventPro_Light';
    }
    
    p {
        margin-top: 40px;
        @include simple_text;
        max-width: 500px;
    }
}
