@import "../../scss/fonts_colors";

.impressum {
    h2 {
        @include secondary_headline;
        font-family: 'AdventPro_Light';
    }
    
    p {
        margin-top: 40px;
    }

    p:first-child {
        margin-top: 0px;
    }
}
